<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar app>
        <v-toolbar-title>
          <span>Vuetify Pagination</span>
        </v-toolbar-title>
      </v-app-bar>

      <v-content>
        <div class="text-center">
          <v-list>
            <v-list-item v-for="list in lists" :key="list.index">
              <v-list-item-content>
                <v-list-item-title>{{ list.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
      
          <v-pagination
            v-model="page"
            :length="6"
            @input = "getNumber"
          ></v-pagination>
        </div>     
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
        return {
          page: 1,
          lists: [],
        }
      },
      methods: {
        getNumber(number) {
          console.log(number)
        }
      },
      mounted (){
        this.lists = new Array(99).fill().map((v,i)=> {
          return { id : i,title : 'Title' + i };
        });
      },
    })
  </script>
</body>
</html>
